<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Basic 79</title>
<meta charset="iso-8859-1" />
<link rel="stylesheet" href="css/firstblog.css" type="text/css" />
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
       <h2><a href="/home">Optymalizacja.pl</a></h2>
        </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/about">o mnie</a></li>
        <li><a href="/registerForm">Rejestracja</a></li>
        <li><a href="/loginForm">Logowanie</a></li>
        <li><a href="/articles">o optymalizacji</a></li>
        <li><a href="/ankieta">ankieta</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="shout">
      <h1>Rejestracja</h1>
    
        </section>
    <!-- main content -->
    <section id="services" class="clear">
      <!-- article 1 -->
      <article>
      <h1>Zarejestruj się by zyskać dostęp do dodatkowych zasobów.</h1>
      	<form th:action="@{/saveRegForm}" method="post" th:object="${reg}">
			<p> Insert login </p>
			<input type="email" th:field="*{login}" /> <br/>
			<p> Insert password </p>
			<input type="password" th:field="*{password}"/> <br/>
			<input type="submit" value="rejestracja"/>
		</form>
      </article>
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_right"></p>
  </footer>
</div>
</body>
</html>
